body {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.inner-header {
  width: 100%;
  height: 100vh;
  background: center center / cover no-repeat fixed;
  position: relative;
}

#svg-animation .cls {
  fill: none;
  stroke: #fff;
  stroke-width: 20;
  stroke-miterlimit: 10;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-dasharray: 1500;
  stroke-dashoffset:1500;
}

.top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-logo {
  width: 40vw;
}

.gnav {
  color: #fff;
  height: inherit;
  font-size: 1.6rem;
  display: flex;
  justify-content: flex-end;
  font-family: 'Literata', serif;
}

.gnav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.gnav__item {
  transform: rotate(90deg);
}

.gnav__link {
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .5s;
  }

  &:hover::after {
    transform: scale(1, 1);
  }
}

.about, .food, .drink, .access {
  margin: 80px auto;
  font-family: 'EB Garamond', serif;
}

.about__title-block {
  display: flex;
  background-color: #eef;
}

.about__title-img {
  width: 45%;
}

.about__title-text {
  margin: 0 auto;
}

.about__title, .food__title, .drink__title {
  font-size: 3rem;
  text-align: center;
  padding: 40px;
  margin: 60px 0;
  font-weight: lighter;
}

.about__text-block {
  margin: 100px 40px;
}

.about__text, .food__text, .drink__text, .access__text {
  text-align: center;
}

.about__text {
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 2.3rem;
}

.about__img-block {
  display: flex;
  justify-content: space-around;
  margin: 80px auto;
}

.about__img {
  width: 35%;

  &:hover {
    opacity: 0.9;
    transition: 0.3s;
  }
}

.food__img-block, .drink__img-block {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 40px;
}

.food__menu, .drink__menu {
  width: 50%;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.food__img, .drink__img {
  width: 80%;
  margin: auto;
}

.food__text, .drink__text {
  margin: 20px 0;
}

.access__title {
  font-size: 3rem;
  text-align: center;
  padding: 40px;
  margin-top: 40px;
  font-weight: lighter;
}

.access__content {
  display: flex;
  align-items: center;
}

.access__text-block {
  margin: 0 auto;
}

.access__list {
  list-style: none;
  line-height: 3rem;
  padding-bottom: 20px;
}

.access__map {
  width: 50%;
}

.footer {
  background-color: #b0c4de;
  padding: 20px;
  display: flex;
}

.logo-img {
  width: 10vw;
}

.ft-nav {
  margin-left: 30px;
}
