@mixin nav-effect {
  position: relative;
  display: inline-block;

  &::after{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .5s;
  }

  &:hover::after {
      transform: scale(1, 1);
  }
}

body {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.mobile-head {
  display: none;
}

.inner-header {
  width: 100%;
  height: 100vh;
  background: center center / cover no-repeat fixed;
  position: relative;
}

#svg-animation .cls {
  fill: none;
  stroke: #fff;
  stroke-width: 20;
  stroke-miterlimit: 10;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-dasharray: 1500;
  stroke-dashoffset:1500;
}

.top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-logo {
  width: 40vw;
}

.gnav {
  color: #fff;
  height: inherit;
  font-size: 1.6rem;
  display: flex;
  justify-content: flex-end;
  font-family: 'Literata', serif;
}

.gnav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.gnav__item {
  transform: rotate(90deg);
}

.gnav__link {
  @include nav-effect;
}

#page_top{
  width: 60px;
  height: 60px;
  position: fixed;
  right: 2%;
  bottom: 5%;
  background: #3f98ef;
  opacity: 0.8;
  border-radius: 50%;
  z-index: 2;
}

#page_top a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  text-decoration: none;
}

#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.about, .food, .drink, .access {
  margin: 80px auto;
  font-family: 'EB Garamond', serif;
}

.about__title-block {
  display: flex;
  background-color: #eef;
}

.about__title-img {
  width: 45%;
}

.about__title-text {
  margin: 0 auto;
}

.about__title, .food__title, .drink__title {
  font-size: 3rem;
  text-align: center;
  padding: 40px;
  margin: 60px 0;
  font-weight: lighter;
}

.about__text-block {
  margin: 100px 20px;
}

.about__text, .food__text, .drink__text, .access__text {
  text-align: center;
}

.about__text {
  font-size: 1.4rem;
  font-weight: lighter;
  line-height: 2.4rem;
}

.about__img-block {
  display: flex;
  justify-content: space-around;
  margin: 80px auto;
}

.about__img-cap {
  width: 38%;
  overflow: hidden;
  position: relative;

  .caption {
    text-align: center;
    font-size: 1.4rem;
    color: #fff;

    p {
      line-height: 2.0;
    }
  }

  .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }

  &:hover .mask {
    opacity: 1;
    padding-top: 80px;
  }
}

.about__img {
  width: 100%;
  height: 100%;
}

.food__img-block, .drink__img-block {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 40px;
}

.food__menu, .drink__menu {
  width: 50%;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drink__menu-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.food__img, .drink__img {
  width: 80%;
  margin: auto;
}

.food__text, .drink__text {
  margin: 20px 0;
}

.access__title {
  font-size: 3rem;
  text-align: center;
  padding: 40px;
  margin-top: 40px;
  font-weight: lighter;
}

.access__content {
  display: flex;
  align-items: center;
}

.access__text-block {
  margin: 0 auto;
}

.access__list {
  list-style: none;
  line-height: 3rem;
  padding-bottom: 20px;
}

.access__map {
  width: 50%;
}

.footer {
  background-color: #4169e1;
  color: #fff;
  padding: 60px 40px 40px;
  display: flex;
  flex-direction: column;
  font-family: 'EB Garamond', serif;
}

.footer-inner {
  margin: 0 40px;
}

.footer__content {
  display: flex;
}

.logo-img {
  width: 10vw;
  margin-right: 40px;
  background: #fff;
}

.ft-nav {
  width: 80%;
  margin: 40px 0 auto;
  border-bottom: 1.5px solid #fff;
}

.ft-nav__list {
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
}

.ft-nav__item {
  font-size: 1.5rem;
  margin: 10px 40px;
}

.ft-nav__link {
  @include nav-effect;
}

.footer__cp {
  text-align: center;
  margin-top: 40px;
}

/*  SP  */

@media only screen and (max-width: 767px) {

  body {
    font-size: 1.2rem;
  }



  .top-logo {
    width: 60vw;
  }

  .about, .food, .drink, .access {
    margin: 40px auto;
    font-family: 'EB Garamond', serif;
  }

  .about__title-block {
    background: #fff;
    position: relative;
  }

  .about__title-img {
    position: absolute;
    top: 8rem;
    width: 80%;
    height: 55%;
  }

  .about__title, .food__title, .drink__title {
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 10px 0;
  }

  .about__text-block {
    margin: 180px 20px 0 40px;
    background: rgba(80, 80, 80, 0.8);
    padding: 5%;
  }

  .about__text {
    font-size: 1.1rem;
    line-height: 2.0rem;
    color: #fff;
  }

  .about__img-block {
    margin: 40px auto 10px;
    display: flex;
    flex-direction: column;
  }

  .about__img-cap {
    width: 73%;
    margin: 10px auto;

    .caption {
      font-size: 1.0rem;
      color: #000;

      p {
        line-height: 1.5;
      }
    }

    .mask {
      position: static;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0);
    }

    &:hover .mask {
      opacity: 1;
      padding-top: 0;
    }
  }

  .about__img {
    width: 100%;
    height: 100%;
    margin: 1rem 0;
  }

  .food__img-block, .drink__img-block {
    display: block;
    margin: 0;
  }

  .food__menu, .drink__menu {
    width: 95%;
    margin: 0 0.5rem 3rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .drink__menu {
    justify-content: space-around;
  }

  .drink-sp {
    display: flex;
    flex-direction: column;
  }

  .drink__menu-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3rem;
    justify-content: flex-start;

    .drink__img {
      margin-right: 0.8rem;
    }
  }

  .drink__menu-3 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }

  .food__img, .drink__img {
    width: 50%;
    margin: 0 0.5rem;
  }

  .food__text, .drink__text {
    margin: 0;
  }

  .access__title {
    font-size: 3rem;
    text-align: center;
    padding: 40px;
    margin-top: 40px;
    font-weight: lighter;
  }

  .access__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .access__text-block {
    margin: 0 auto;
  }

  .access__list {
    list-style: none;
    line-height: 2.3rem;
    font-size: 1.0rem;
    padding-bottom: 20px;
  }

  .access__map {
    width: 90%;
    padding-left: 2.3rem;
  }

  .footer {
    background-color: #4169e1;
    color: #fff;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    font-family: 'EB Garamond', serif;
  }

  .footer-inner {
    margin: 0 10px;
  }

  .footer__content {
    display: flex;
  }

  .logo-img {
    width: 40vw;
    height: 30vh;
    margin: 20px 40px 0 0;
  }

  .ft-nav {
    width: 80%;
    margin: 20px 0 auto;
    border-bottom: 1.5px solid #fff;
  }

  .ft-nav__list {
    flex-direction: column;
  }
}
